.navbar-brand img {
	width: 80px;
}

.collapse ul li {
	padding-left: 63px;
}

.collapse a {
	display: block;
}

.nav-link  {
	font-size: 19px;
}

.dropdown .dropdown-menu {
	opacity: 0; /* По умолчанию скрываем подменю */
    visibility: hidden;
    transition-property:  opacity, visibility;   /* Задаем какие свойства анимировать */
    transition-duration: .3s, .3s;               /* Задаем продолжительность анимации для каждого свойства */
    transition-delay: .15s, .15s;                /*время ожидания перед запуском эффекта перехода.*/
}

.dropdown:hover  .dropdown-menu { 
	display: block;
	margin-left: 60px;
	opacity: 1; /* Показываем подменю при ховере */
    visibility: visible;
}

.dropdown:hover  .dropdown-menu li:hover {
	background: #F8F9FA;
}


.dropdown-menu a {
	text-decoration: none;
	color: #7C7C7D;
	display: block;

}


.dropdown ul li {
	padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 19px; !important
}

ul.dropdown-menu  {
	padding-top: 0;
	padding-bottom: 0;
}


.jumbotron {
	background: url(images/slide.jpg) no-repeat;
	min-width: 100%;
}

.jumbotron .container h1, p {
	color: #FFFDFE;
	font-weight: normal;
}

.row {
	margin: 0 auto;
}

.row .col-md-6 p {
	color: black;
}

.container .text-tajwid {
	color: #FFFDFE;
}

.container p {
	color: black;
}